@import 'tailwindcss';

@theme {
    --color-primary: #1c1c5e;
    --color-primary2: #1a1a4f;
    --color-primary3: #b75d42;
    --color-second: #fff7df;
    --color-slate50: #f1f4fb;
}

html {
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
        -webkit-text-fill-color: #fff7df !important;
        background-color: transparent !important;
        box-shadow: 0 0 0px 1000px white inset !important;
    }
}

body {
    font-weight: 400;
    font-optical-sizing: auto;
    font-style: normal;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-height: 100svh;
}

@plugin 'tailwind-scrollbar' {
    nocompatible: true;
}
